@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Quicksand";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 8px 0;
  color: black;
  font-weight: 300;
}

a:hover {
  border-bottom: #111111 solid 1px;
}

/* .menu-button {
    display: none;
} */
.hamburger {
  display: none;
}

.avatar-menu {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000000;
}

/* Mobile Menu */
.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

/* This 👇 */
.main_one {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* This 👇 */
.main_one > img {
  width: 20%;
}

/* This 👇 */
.main_one-text {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main_one .main_one-text > p {
  font-family: "Quicksand";
  font-size: 3.5rem;
  text-align: initial;
}

.main_one .main_one-text > p > span {
  font-family: "Montserrat";
  font-weight: bold;
}

.main_one-button {
  width: 285px;
  color: white;
  background-color: black;
  text-decoration: none;
  margin: 40px 0 10px 0;
  padding: 10px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  border: 1px solid #040404;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 14px;
}

.main_one-button:active {
  color: black;
  background-color: white;
  text-decoration: none;
  margin: 40px 0 10px 0;
  padding: 10px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  border: 1px solid #040404;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 14px;
}

.main_two {
  background-color: black;
  color: white;
  width: 100%;
  height: 100vh;
}

.main_two-texts-1 {
  padding: 30px 0 0 0;
}

.main_two-texts {
  height: 50%;
}

.main_two-texts p {
  font-family: "Quicksand";
  font-style: normal;
  text-align: center;
  margin: 30px 10%;
  font-size: 0.9rem;
}

.main_two-pics {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main_two-pics-guy {
  width: 145px;
  height: 141px;
}

.main_two-pics-logos img {
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(-22.7deg);
          transform: rotate(-22.7deg);
}

.footer {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer_pic-1 {
  background-image: url("../components/img/logos/twitter.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}

.footer_pic-2 {
  background-image: url("../components/img/logos/github.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}

.footer_pic-3 {
  background-image: url("../components/img/logos/instagram.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}

.footer_pic-4 {
  background-image: url("../components/img/logos/youtube.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}

.footer_pic-5 {
  background-image: url("../components/img/logos/linkedin.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 768px) {
  .menu-button {
    width: 35px;
    height: 30px;
    margin-right: 15px;
    display: block;
    position: fixed;
    z-index: 1;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 2;
    margin-right: 10px;
  }

  .hamburger.active {
    position: fixed;
    /* right: 10px; */
  }

  .bar {
    background-color: #000000;
  }

  .nav-menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: black;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-right: 0;
  }

  .avatar-menu {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
  }

  .nav-item {
    margin: 25px 0;
  }

  .nav-link {
    color: white;
    font-family: "Quicksand";
    font-weight: 300;
    font-size: 25px;
    margin: 25px 0;
  }

  .nav-menu.active {
    right: 0;
  }

  /* Main One */
  .main_one {
    width: 100%;
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main_one-text {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 40px 0 0 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main_one .main_one-text > p {
    font-family: "Quicksand";
    font-size: 1.4rem;
    text-align: center;
  }

  .main_one .main_one-text > p > span {
    font-family: "Montserrat";
    font-weight: bold;
  }

  .main_one-button {
    color: white;
    background-color: black;
    text-decoration: none;
    margin: 40px 0 10px 0;
    padding: 10px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid #040404;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 14px;
  }

  .main_one-button:active {
    color: black;
    background-color: white;
    text-decoration: none;
    margin: 40px 0 10px 0;
    padding: 10px;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid #040404;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 14px;
  }
}